@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  /* width: 8rem; */
  /* height: 200px; */
  transition: .2s;
}

.card:hover {
  transform: translateY(-1rem);
}

.card:hover~.card {
  transform: translateX(2.5rem);
}

.card:not(:first-child) {
  margin-left: -5rem;
  box-shadow: -1rem 0 3rem #000;
}

.card::before, .card::after {
  position: absolute;
  content: attr(data-value);
  font-size: 1rem;
}

.card::before {
  top: .5rem;
  left: .5rem;
}

.card::after {
  bottom: .5rem;
  right: .5rem;
  transform: rotate(180deg);
}

.felt {
  background-color: #014D43;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.draggable {
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.pokerchip {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5), 0 0 3px 0 rgba(0, 0, 0, 0.4) inset;
  border-radius: 50%;
  background-size: 100px 100px;
  background-position: center center;
}

.pokerchip:before {
  position: absolute;
  content: "";
  z-index: 1;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  top: 6px;
  left: 6px;
  background-size: 100px 100px;
  background-position: center center;
}

.pokerchip:after {
  z-index: 2;
  position: absolute;
  content: "";
  text-align: center;
  font: bold 25px/70px Arial;
  white-space: pre;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  top: 15px;
  left: 15px;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.3), 1px 1px 0px rgba(255, 255, 255, 0.2);
}

.black {
  background-image:
    linear-gradient(transparent 0, transparent 42px, #fff 42px, #fff 58px, transparent 58px, transparent 100px),
    linear-gradient(60deg, transparent 0, transparent 62px, #fff 62px, #fff 78px, transparent 78px, transparent 100px),
    linear-gradient(120deg, #222 0, #222 62px, #fff 62px, #fff 78px, #222 78px, #222 100px);
}
.black:before {
  border: 6px solid #222222;
  background-image:
    linear-gradient(transparent 0, transparent 48px, #EBEBEB 48px, #EBEBEB 52px, transparent 52px, transparent 100px),
    linear-gradient(30deg, transparent 0, transparent 68px, #EBEBEB 68px, #EBEBEB 72px, transparent 72px, transparent 100px),
    linear-gradient(60deg, transparent 0, transparent 68px, #EBEBEB 68px, #EBEBEB 72px, transparent 72px, transparent 100px),
    linear-gradient(90deg, transparent 0, transparent 48px, #EBEBEB 48px, #EBEBEB 52px, transparent 52px, transparent 100px),
    linear-gradient(120deg, transparent 68px, #EBEBEB 68px, #EBEBEB 72px, transparent 72px, transparent 100px),
    linear-gradient(150deg, #000000 0, #000000 68px, #EBEBEB 68px, #EBEBEB 72px, #000000 72px, #000000 100px);
}
.black:after {
  content: "100";
  background: #222222;
  color: #000000;
}
